



#streamlit
#pandas
#python-dotenv
#plotly
#streamlit-aggrid
#langchain-community
#langchain-core
#langchain-text-splitters
#langchain-groq
#langchain-huggingface
#sentence-transformers
#faiss-cpu
#pypdf




streamlit
pandas
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-pinecone
pinecone-client
sentence-transformers
pypdf
easyocr
pillow
numpy<2.0.0
st-aggrid
plotly




